body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#avatar {
    height: 180px;
    border-radius: 100%;
    border: 5px solid white;
    margin-bottom: 40px;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding-top: 15px;
}

h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 4em;
    font-family: 'Open Sans';
    margin: -10px 0;
}
h3 {
    color: white;
    padding-bottom: 20px;
    font-weight: thin;
}
pre {
    margin-top: -30px;
    margin-bottom: -30px;
}
.content {
    padding-left:20px;
    padding-right:20px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.custom {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-family: Verdana, sans-serif;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

.custom2{
    text-decoration: none;
    font-family: Verdana, sans-serif;
    background-color: transparent;
    color: #000000;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 40px;
}

.description {
    display: none;
}

.out{
    width: 100%;
    text-align: center;
    border: 5px solid white;
    padding: 20px;
    margin; 15px
}

.in{
    display: inline-block;
    border: 5px solid white;
    width: 50%;
    height: 100%;
}

ul{
  list-style-type:circle  
}
ul:hover {
  list-style-type:disc
}

.square {
  transition: transform 0.8s;
  position: absolute;
}

.square:hover {
  transform: translate(20px, 0px);
}

.circle {
  width: 10px;
  height: 10px;
  border: 1px solid blue;
  border-radius: 50%;
  float: left;
  margin-left: 40px;
  margin-top: 10px;
}

.circle:hover {                 
  width: 10px;         
  height: 10px;               
  background: blue;           
  border-radius: 100px;
  float: left;
  margin-left: 40px;
  margin-top: 10px;
}


@media (max-width: 450px) {
.description {
    display: inline-block;
    color: white;
    font-family: Arial;
    margin-left: 40px;
}
.content {
    padding-top: 60px;
}
}
