/*
---------------------------
 - 중첩된 부분: BasicFontSet
카테고리: Categories
날짜, 태그: Date, Tags

posting한곳: Posting

주제: MainTitle
소제: SubTitle
단락: Paragraph
내용: Contents
이미지: Imgsize
이미지 text: Imgtext

전체 코드 URL: CodeURL

참고자료: Reference
---------------------------
*/
.BasicFontSet{
  background-color: transparent;
  color:black;
}
/*h3*/
.Categories{
  font-family: 'Hanna';
  font-weight: 600;
  font-size: 36pt;
  display: block;
  margin: 10px 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/*blockquote p*/
.Posting{
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 3px;
  font-size: 1.2em;
  line-height: 30px;
  margin: 0;
  padding-top: 15px;
}
/*h1*/
.MainTitle{
}
/*h2*/
.SubTitle{
}
/*p*/
.Paragraph{
  font-weight: 600;
  font-size: 18px;
}
/*p*/
.Contents{
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 30px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
}
.Imgsize{
}
.Imgtext{
  text-align:center;
}
.CodeURL{
}
/*a*/
.Reference{
  text-decoration: underline;
  font-family: "Nanum Barun Gothic",Linux Libertine;
}
.blockquote{
    margin: 0 0 30px;
    margin-left: -26px;
    border-left: 3px solid #57ad68;
    padding-left: 20px;
}
.Reference blockquote p{
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 3px;
}
.Reference p{
    font-size: 1.2em;
    line-height: 30px;
    margin: 0;
    padding-top: 15px;
}
/*media query*/
