/*
---------------------------
 - 중첩된 부분: BasicFontSet
카테고리: Categories
날짜, 태그: Dates: Date, Tags: post-tag

posting한곳: Posting

주제: MainTitle
소제: SubTitle
단락: Paragraph
내용: Contents
이미지: Imgsize
이미지 text: Imgtext

전체 코드 URL: CodeURL

참고자료: Reference
---------------------------
*/
/*table*/
.TableFont{
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
}
th {
    font-weight: bold;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
    display: table-cell;
    vertical-align: inherit;
}
table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
}
/*Basic*/
.BasicFontSet{
  background-color: transparent;
  color:black;
}
/*h3*/
.Categories{
  font-family: 'Hanna';
  font-weight: 600;
  font-size: 36pt;
  display: block;
  margin: 10px 0;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h3{
  padding-bottom: 0px;
}
.Date{
  display: inline-block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}
/*a*/
.post-tag {
  display: inline-block;
  background: rgba(172,65,66,0.15);
  padding: 0 .5rem;
  border-radius: 4px;
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  color: #ac4142;
  margin: .2em .3em;
  line-height: 1.42857143;
  text-rendering: optimizelegibility;
} 
.post-tag:before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-right: .5em;
}
.post-tag:hover {
  background: #ac4142;
  color: #fff;
}
/*blockquote p*/
.Posting{
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 3px;
  font-size: 1.2em;
  line-height: 30px;
  margin: 0;
  padding-top: 15px;
}
/*h1*/
.MainTitle{
}
/*h2*/
.SubTitle{
}
/*p*/
.Paragraph{
  font-weight: 600;
  font-size: 18px;
}
/*p*/
.Contents{
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 30px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
}
.Imgsize{
}
.Imgtext{
  text-align:center;
}
.CodeURL{
}
/*a*/
.Reference{
  text-decoration: underline;
  font-family: "Nanum Barun Gothic",Linux Libertine;
}
blockquote{
    margin: 0 0 30px;
    margin-left: -26px;
    border-left: 3px solid #57ad68;
    padding-left: 20px;
}
.Reference blockquote p{
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 3px;
}
.Reference p{
    font-size: 1.2em;
    line-height: 30px;
    margin: 0;
    padding-top: 15px;
}
/*media query*/
/* 스마트폰 가로+세로 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
img.concept {
display: block;
margin: 0 auto;
width:80%;
border-radius: 16px;
border-style: none;
}
}

 /* 스마트폰 가로 */
@media only screen and (min-width : 321px) {
img.concept {
display: block;
margin: 0 auto;
width:80%;
border-radius: 16px;
border-style: none;
}
}

 /* 스마트폰 세로 */
@media only screen and (max-width : 320px) {
img.concept {
display: block;
margin: 0 auto;
width:80%;
border-radius: 16px;
border-style: none;
}
}

/* iPhone4와 같은 높은 크기 세로 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),  
only screen and (min-device-pixel-ratio : 1.5) {  
img.concept {
display: block;
margin: 0 auto;
width:80%;
border-radius: 16px;
border-style: none;
}
}

/* iPhone4와 같은 높은 해상도 가로 */
@media only screen and (min-width : 640px) {
img.concept {
display: block;
margin: 0 auto;
width:80%;
border-radius: 16px;
border-style: none;
}
}

/* iPad 가로+세로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
img.concept {
display: block;
margin: 0 auto;
width:80%;
border-radius: 16px;
border-style: none;
}
}

/* iPad 가로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
img.concept {
display: block;
margin: 0 auto;
width:80%;
border-radius: 16px;
border-style: none;
}
}

/* iPad 세로 */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
img.concept {
display: block;
margin: 0 auto;
width:80%;
border-radius: 16px;
border-style: none;
}
}

/* 데스크탑 브라우저 가로 */
@media only screen and (min-width : 1224px) {
img.concept {
display: block;
margin: 0 auto;
width:80%;
border-radius: 16px;
border-style: none;
}
}

/* 큰 모니터 */
@media only screen and (min-width : 1824px) {
img.concept {
display: block;
margin: 0 auto;
width:80%;
border-radius: 16px;
border-style: none;
}
}
