---
layout: post
title: Thread
meta: Concept
category: OperatingSystem
comments: true
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" type="text/css" href="/css/pageframe.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
    </style>
  <!--
  수식용 스크립트 MathJax
  -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      //jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        displayMath: [ ['$$', '$$'] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //,
      //displayAlign: "left",
      //displayIndent: "2em"
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
  </head>
  <body>	  
<!--
카테고리: Categories <h3 class="Categories BasicFontSet"></h3>
날짜: Date 
      {% for news in site.categories.analysis %}
        {% if news.title == 'Testing css'%}
          <a class="Date">{{ news.date | date_to_string }}</a> | <a class="post-tag">{{ page.category }}</a>
        {% endif %}
      {% endfor %}
태그: Tags <a class="post-tag">태그 내용</a>
posting한곳: Posting <blockquote><p class="posting">포스팅 </p></blockquote>
주제: MainTitle <h1 class="BasicFontSet"></h1>
소제: SubTitle <h2 class="BasicFontSet"></h2>
단락: Paragraph <p class="Paragraph"></p>
내용: Contents <p class="Contents"></p>
이미지: Imgsize - media query 적용
이미지 text: Imgtext
      <p class="Imgtext">
          <img src="이미지 주소" class="concept"></br>
          <내용></br>
      </p>
전체 코드 URL: CodeURL
참고자료: Reference <blockquote><p class="Reference">가져온곳: <a class="Reference"> URL</a></p>
-->
      <a>
	<h3 class="Categories BasicFontSet">Thread</h3>
	{% for news in site.categories.OperatingSystem %}
        {% if news.title == 'Thread'%}
          <a class="Date">{{ news.date | date_to_string }}</a> | <a class="post-tag">{{ page.category }}</a>
        {% endif %}
        {% endfor %}
     </a>
	<blockquote><p class="posting">포스팅 </p></blockquote>
      <p class="Imgtext">
          <img src="/asset/OperatingSystem/Thread/CPU.jpg" class="concept" style="width:50%"></br>
          <Intel Core i5 750></br>
      </p>
 쓰레드란 데이터의 실행 흐름으로, 데이터가 지나다니는 통로라고 보면 된다. 
쉽게 말해 코어가 일을 수행할 때 팔과 다리의 역할을 한다.</br>
</br>
 과거에는 4코어 4쓰레드처럼 1코어당 1쓰레드로 데이터를 처리했다. 
코어를 회사에 있는 하나의 훌륭한 인재라고 한다면, 인재가 회사의 업무를 처리하는 방식이 한 가지인 것이다. 
즉, 1코어가 데이터를 처리할 때 하나의 길로 송신하고 수신하고 하는 것이다. 
그러나 요즘은 4코어 8쓰레드처럼 1코어당 2쓰레드로 데이터를 처리한다. 
즉 송신하고 수신하는 길이 다른 것이다.</br>
</br>
 1코어당 2쓰레드가 좋은 것인가? 
쓰레드를 도로에 비유한다면, 1차선 도로와 2차선 도로를 생각해보자. 
1차선 도로는 지나갈 때 반대편의 차가 오면 기다렸다가 다 지나가고 자신의 차량이 지나갈 수 있다. 
그러나 2차선 도로는 반대편의 차가 온다 해도 자신은 가던 길을 갈 수 있다. 
더 간단한 예로, 고속도로에 차선이 여러 개인 이유를 생각해보자. 
온종일 수많은 차들이 지나다니는데 차선이 하나라면 오가는데 시간이 많이 걸릴 것이다. 
이처럼 여러 차선으로 인해 교통 체증이 안생기니 시간이 절약되는 것이다.</br>
</br>
 2코어 4쓰레드, 4코어 8쓰레드처럼 1코어당 2쓰레드란 개념은 CPU 최적화를 위해 만들어진 것으로 실제 성능이 15%정도 향상된다고 한다.
      <p class="Imgtext">
          <img src="/asset/OperatingSystem/Thread/CPUThread.png" class="concept" style="width:50%"></br>
          <내용></br>
      </p>
      <p class="Imgtext">
          <img src="/asset/OperatingSystem/Thread/Thread1.jpg" class="concept"></br>
          <내용></br>
      </p>
      <p class="Imgtext">
          <img src="/asset/OperatingSystem/Thread/Thread2.png" class="concept"></br>
          <내용></br>
      </p>
      <p class="Imgtext">
          <img src="/asset/OperatingSystem/Thread/Thread3.png" class="concept" style="width:50%"></br>
          <내용></br>
      </p>
      <p class="Imgtext">
          <img src="/asset/OperatingSystem/Thread/Thread4.jpg" class="concept"></br>
          <내용></br>
      </p>
      <p class="Imgtext">
          <img src="/asset/OperatingSystem/Thread/Thread5.jpg" class="concept"></br>
          <내용></br>
      </p>
      <p class="Imgtext">
          <img src="/asset/OperatingSystem/Thread/Thread6.jpg" class="concept"></br>
          <내용></br>
      </p>
	<blockquote><p class="Reference">가져온곳: <a class="Reference">
		http://itblogpro.tistory.com/52</br>
		https://12bme.tistory.com/65</br>
		</a></p></blockquote>
  </body>
</html>
