---
layout: default
comments: false
---
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> {% if site.favicon_img %}
  <link rel="shortcut icon" href="{{ site.favicon_img_path }}" /> {% endif %}
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ " /css/categories.css " | prepend: site.baseurl }}">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/pageframe.css">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    h1{
      color: #000000;
      background-color: transparent;
    }
    @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
    h2,h3,h4{ font-family: "PT Sans",Helvetica,Arial,sans-serif; 
        font-weight: 400;
        color: #313131;
        background-color: transparent;
    }
  </style>
</head>
<body>
    <div class="w3-container">
      <div class="content">
        <div class="custom">
          <div class="out">
            <div class="in">
          {% if site.front_img %}<img src="{{ site.front_img_path }}" id="fullscreen"> {% endif %} 
          <ul>
            <h1>Projects</h1>
            <a class="post-tag" href="#Web Project">Web Project</a>
            <a class="post-tag" href="#Big Data">Big Data</a>
            <a class="post-tag" href="#IoT">IoT</a>
            <a class="post-tag" href="#Machine Learning">Machine Learning</a>
            <hr>
            <h2 id="Web Project">Web Project</h2>
            
            <h2 id="Big Data">Big Data</h2>
            
            <h2 id="IoT">IoT</h2>
            <h4>
            {% for news in site.categories.IoT %}
              <div class="square">
                <div class="circle"></div><a class="custom2" href="{{ news.url }}">{{ news.title }}</a><a class="date">{{ news.date | date_to_string }}</a>
              </div>
            {% endfor %}
            </h4>
            
            <h2 id="Machine Learning">Machine Learning</h2>

          </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
