---
layout: post
title: Data Collection Service - Flume
meta: Concept
category: IoT
comments: true
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" type="text/css" href="/css/pageframe.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
    </style>
  <!--
  수식용 스크립트 MathJax
  -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      //jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        displayMath: [ ['$$', '$$'] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //,
      //displayAlign: "left",
      //displayIndent: "2em"
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
  </head>
  <body>	  
<!--
카테고리: Categories <h3 class="Categories BasicFontSet"></h3>
날짜: Date 
      {% for news in site.categories.analysis %}
        {% if news.title == 'Testing css'%}
          <a class="Date">{{ news.date | date_to_string }}</a> | <a class="post-tag">{{ page.category }}</a>
        {% endif %}
      {% endfor %}
태그: Tags <a class="post-tag">태그 내용</a>
posting한곳: Posting <blockquote><p class="posting">포스팅 </p></blockquote>
주제: MainTitle <h1 class="BasicFontSet"></h1>
소제: SubTitle <h2 class="BasicFontSet"></h2>
단락: Paragraph <p class="Paragraph"></p>
내용: Contents <p class="Contents"></p>
이미지: Imgsize - media query 적용
이미지 text: Imgtext
      <p class="Imgtext">
          <img src="이미지 주소" class="concept"></br>
          <내용></br>
      </p>
전체 코드 URL: CodeURL
참고자료: Reference <blockquote><p class="Reference">가져온곳: <a class="Reference"> URL</a></p>
-->
      <a>
	<h3 class="Categories BasicFontSet">Data Collection Service - Flume & Kafka</h3>
	{% for news in site.categories.IoT %}
        {% if news.title == 'Data Collection Service - Flume & Kafka'%}
          <a class="Date">{{ news.date | date_to_string }}</a> | <a class="post-tag" href="https://ysw0421.github.io/contents/projects/#IoT">{{ page.category }}</a>
        {% endif %}
        {% endfor %}
     </a>
	<blockquote><p class="posting">포스팅 </p></blockquote>
<h2 class="BasicFontSet">1.2 Flume</h2>

<h2 class="BasicFontSet">Docker Image 생성</h2>
	Flume Docker Container를 생성하기 위해서는 Docker image가 필요하다.
	Docker image는 이미 만들어진 image를 다운 받거나 Dockerfile을 이용하여 image를 빌드하고 생성할 수 있다.
	Flume Docker image를 빌드하기 위한 Dockerfile의 내용은 아래와 같다.</br>
	</br>
	</br>
	</br>
<pre><code>
FROM resin/rpi-raspbian

#Update & Install wget, vim
RUN apt-get update
RUN apt-get -y install wget
RUN apt-get -y install vim
RUN apt-get -y install python \
    python-dev \
    python-pip \
    python-virtualenv \
    --no-install-recommends
RUN pip install pyserial

RUN mkdir -p /var/log/apache/flumeSpool
RUN touch /var/log/apache/flumeSpool/sensor.txt

#Timezone
RUN cp /usr/share/zoneinfo/Asia/Seoul /etc/localtime

#Install Oracle JAVA
RUN mkdir -p /opt
RUN curl -O -v -j -k -L -H "Cookie: oraclelicense=accept-securebackup-cookie" http://download.oracle.com/otn-pub/java/jdk/8u131-b11/d54c1d3a095b4ff2b6607d096fa80163/jdk-8u131-linux-arm32-vfp-hflt.tar.gz
RUN tar -xvzf jdk-8u131-linux-arm32-vfp-hflt.tar.gz -C /opt


#Configurate environmental variables
ENV JAVA_HOME /opt/jdk1.8.0_131
ENV PATH $PATH:/opt/jdk1.8.0_131/bin
RUN ln -s /opt/jdk1.8.0_131/bin/java /usr/bin/java

#Install Flume
RUN sudo wget --no-check-certificate http://www.apache.org/dist/flume/1.9.0/apache-flume-1.9.0-bin.tar.gz -O - | tar -zxv
RUN sudo mv apache-flume-1.9.0-bin /flume

ADD plugins.d /flume/plugins.d
ADD flume-conf.properties /flume/conf/

#Csharp Programming
COPY PySerial.py /flume/
COPY autosensor.sh /flume/

#Working directory
WORKDIR /flume
</code></pre>
	</br>
	</br>
<p class="Paragraph">이미지 빌드</p>
	컨테이너 생성후 Flume Configuration 파일, Python 파일, 센서수집 파일이 필요하기 때문에 Dockerfile, flume-conf.properties,
	plugins.d Pyserial.py, autosensor.sh를 가진 폴더에서 Dockerfile을 빌드한다.</br>
<p class="Paragraph">컨테이너 생성</p>
	컨테이너에서 시리얼통신 사용시 --privileged 옵션을 줘야지만 컨테이너에서 정상적인 Serial 통신이 가능하다.</br>
</br>
</br>
</br>
<h2 class="BasicFontSet">Configuration Setting</h2>
	flume에서 서버에 있는 kafka로 값을 보내기 위해서는 flume설정을 알맞게 바꿔줘야 한다.
	이러한 flume의 설정파일에 대한 내용은 다음과 같다.</br>
	sudo vim /flume/conf/flume-conf.properties</br>
	</br>
	</br>
	</br>
<pre><code>
# Name the components on this agent
agent.sources = source1
agent.sinks = sink1
agent.channels = channel1

# The source1
agent.sources.source1.type = exec
agent.sources.source1.channels = channel1
agent.sources.source1.command = sh /flume/autosensor.sh
agent.sources.source1.batchSize = 1
agent.sources.source1.batchTimeout = 1000

# The channel
agent.channels.channel1.type = memory

# The sink1
agent.sinks.sink1.type = org.apache.flume.sink.kafka.KafkaSink
agent.sinks.sink1.topic = JNU01_rasp
agent.sinks.sink1.brokerList = gist:9092
agent.sinks.sink1.requiredAcks = 0
agent.sinks.sink1.batchSize = 1

# Bind the source and sink to the channel
agent.sources.source1.channels = channel1
agent.sinks.sink1.channel = channel1
</code></pre>
	</br>
	</br>
	Flume의 Source Type를 exec으로 설정하여 쉘스크립트를 실행시켜서 읽어들여 콘솔로 출력한 센서값들이 Flume의 Source가 되도록 설정하엿다.
	이후 sink.topic에 사용하고자하는 <topic name>을 입력하고, sink1.brokerList에는 이용하고자 하는 Kafka 브로커의 <broker IP>:<broker Port>를 입력한다.
	다음은 Flume에서 사용한 exec source file인 autosensor.sh의 내용이다.</br>
	</br>
	</br>
	</br>
<pre><code>
#!/bin/sh
sensor="/var/log/apache/flumeSpool/sensor.txt"
temp="/var/log/apache/flumeSpool/sensor_Flume.txt"
while [ 1 ]
do
  if [ -e $sensor ]
    then
      mv /var/log/apache/flumeSpool/sensor.txt $temp
      tail -1 $temp
      rm $temp
      sleep 1
  fi
done
</code></pre>
	</br>
	</br>
	브로커에 대한 주소 및 포트 설정시 편의를 위해, /etc/hosts에 추가하고자 하는 host를 <host IP> <host name>같은 형식으로 추가할 수 있다.</br>
	</br>
	</br>
	</br>
<h2 class="BasicFontSet">Container 실행</h2>
	Docker container가 실행중일 때, attach 명령어를 통하여 Container에 접속 가능하다.</br>
	</br>
	Serial 통신포트를 설정한 후 Flume Agent를 실행한다. 
	Pyserial.py 파일을 이용하여 아두이노에서 보내는 센서값 들을 라즈베리파이의 지정된 폴더안에 저장하고,
	Agent를 실행시켜 센서값들을 라즈베리파이의 지정된 폴더안에 저장하고, Agent를 실행시켜 센서값들을 Kafka broker에게 전송한다.
	이 때 Kafka Zookeeper와 broker는 실행 중이어야 한다.</br>
	sudo python Pyserial.py</br>
	위의 명령어를 실행시킨 이후 다른 터미널을 켜서 아래의 명령어를 실행한다.</br>
	sudo bin/flume-ng agent --conf conf --conf-file conf/flume-conf.properties --name <flume agent name> -Dflume.root.logger=INFO,console</br>
	<blockquote><p class="Reference">가져온곳: <a class="Reference"> URL</a></p></blockquote>
  </body>
</html>
