---
layout: post
title: Data Collection Service - InfluxDB & Kafka Consumer
meta: Concept
category: IoT
comments: true
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" type="text/css" href="/css/pageframe.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
    </style>
  <!--
  수식용 스크립트 MathJax
  -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      //jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        displayMath: [ ['$$', '$$'] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //,
      //displayAlign: "left",
      //displayIndent: "2em"
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
  </head>
  <body>	  
<!--
카테고리: Categories <h3 class="Categories BasicFontSet"></h3>
날짜: Date 
      {% for news in site.categories.analysis %}
        {% if news.title == 'Testing css'%}
          <a class="Date">{{ news.date | date_to_string }}</a> | <a class="post-tag">{{ page.category }}</a>
        {% endif %}
      {% endfor %}
태그: Tags <a class="post-tag">태그 내용</a>
posting한곳: Posting <blockquote><p class="posting">포스팅 </p></blockquote>
주제: MainTitle <h1 class="BasicFontSet"></h1>
소제: SubTitle <h2 class="BasicFontSet"></h2>
단락: Paragraph <p class="Paragraph"></p>
내용: Contents <p class="Contents"></p>
이미지: Imgsize - media query 적용
이미지 text: Imgtext
      <p class="Imgtext">
          <img src="이미지 주소" class="concept"></br>
          <내용></br>
      </p>
전체 코드 URL: CodeURL
참고자료: Reference <blockquote><p class="Reference">가져온곳: <a class="Reference"> URL</a></p>
-->
      <a>
	<h3 class="Categories BasicFontSet">Data Collection Service - InfluxDB & Kafka Consumer</h3>
	{% for news in site.categories.IoT %}
        {% if news.title == 'Data Collection Service - InfluxDB & Kafka Consumer'%}
          <a class="Date">{{ news.date | date_to_string }}</a> | <a class="post-tag" href="https://ysw0421.github.io/contents/projects/#IoT">{{ page.category }}</a>
        {% endif %}
        {% endfor %}
     </a>
	<blockquote><p class="posting">포스팅 </p></blockquote>
<h2 class="BasicFontSet">1.4 InfluxDB</h2>
<h2 class="BasicFontSet">Docker Image 생성 및 Container 생성</h2>
	</br>
	</br>
<pre><code>
# 이전에 다운받은적이 없으면 지금 다운로드
git clone https://github.com/JNU-IoT/Kafka-InfluxDB
# Kafka-InfluxDB/InfluxDB 디렉토리로 이동
cd ~/Kafka-InfluxDB/InfluxDB
docker run -d -v /var/lib/influxdb:/var/lib/influxdb -v $PWD/influxdb.conf:/etc/influxdb/influxdb.conf:ro -e INFLUXDB_ADMIN_ENABLED=true --name influx influxdb
</code></pre>
	</br>
	</br>
	</br>
<h2 class="BasicFontSet">1.5 Consumer 설정</h2>
<h2 class="BasicFontSet">Docker Image 생성 및 Container 생성</h2>
	</br>
	</br>
	</br>
이 이미지는 Node.js에 kafka consumer에서 받은 데이터를 InfluxDB에 저장하는 스크립트를 올려서 실행하는 설정을 담고 있다.
<pre><code>
# Kafka-InfluxDB/KafkaToDB 디렉토리로 이동
cd ~/Kafka-InfluxDB/KafkaToDB
docker build -t kafkatodb .
docker run -it --net=host -e TOPIC_NAME=${topic_name} --name kafkatodb kafkatodb
</code></pre>
	</br>
	</br>
	</br>
<h2 class="BasicFontSet">1.6 검증 방법 및 결과 확인</h2>
	</br>
	</br>
	</br>
해당서비스의 동작의 검증은 InfluxDB에 저장된 값들을 요청하여 해당값들이 잘 저장되어 있는지를 확인한다.</br>
<pre><code>
curl -G 'http://${server_ip}:8686/query?pretty=true' --data-urlencode "db=${database_name}" --data-urlencode "q=SELECT * FROM ${topic_name}"
</code></pre>
	</br>
	</br>
	<blockquote><p class="Reference">가져온곳: <a class="Reference"> URL</a></p></blockquote>
  </body>
</html>
