---
layout: post
title: What Is Streaming
meta: Concept
category: IoT
comments: true
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" type="text/css" href="/css/pageframe.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
    </style>
  <!--
  수식용 스크립트 MathJax
  -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      //jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        displayMath: [ ['$$', '$$'] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //,
      //displayAlign: "left",
      //displayIndent: "2em"
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
  </head>
  <body>	  
<!--
카테고리: Categories <h3 class="Categories BasicFontSet"></h3>
날짜: Date 
      {% for news in site.categories.analysis %}
        {% if news.title == 'Testing css'%}
          <a class="Date">{{ news.date | date_to_string }}</a> | <a class="post-tag">{{ page.category }}</a>
        {% endif %}
      {% endfor %}
태그: Tags <a class="post-tag">태그 내용</a>
posting한곳: Posting <blockquote><p class="posting">포스팅 </p></blockquote>
주제: MainTitle <h1 class="BasicFontSet"></h1>
소제: SubTitle <h2 class="BasicFontSet"></h2>
단락: Paragraph <p class="Paragraph"></p>
내용: Contents <p class="Contents"></p>
이미지: Imgsize - media query 적용
이미지 text: Imgtext
      <p class="Imgtext">
          <img src="이미지 주소" class="concept"></br>
          &lt;내용&gt;</br>
      </p>
전체 코드 URL: CodeURL
참고자료: Reference <blockquote><p class="Reference">가져온곳: <a class="Reference"> URL</a></p>
-->
      <a>
	<h3 class="Categories BasicFontSet">What Is Streaming</h3>
	{% for news in site.categories.IoT %}
        {% if news.title == 'What Is Streaming'%}
          <a class="Date">{{ news.date | date_to_string }}</a> | <a class="post-tag" href="https://ysw0421.github.io/contents/projects/#IoT">{{ page.category }}</a>
        {% endif %}
        {% endfor %}
     </a>
	<blockquote><p class="posting">포스팅 </p></blockquote>
동영상 스트리밍

Streaming이란 '흐름'이라는 뜻으로 데이터가 흐른다는 뜻이다.
동영상을 일반적으로 다운로드를 하면, 전부 다운이 될 때까지 재생이 되지 못한다.
하지만 스트리밍은 큰 용량의 오디오나 동영상을 압축기술을 이용하여 특정 단위로 쪼개 전송하기 때문에 하드에 저장하지 않고 다운과 동시에 재생이 가능하게 된다.
이는 시간을 절약할 수 있고, 사용자의 하드디스크 용량에도 영향을 미치지 않는다.
스트리밍 서비스는 인터넷 속도가 가장 중요한 요소이다.
일반적인 다운로드의 경우 인터넷 환경이 좋지 않다면 그냥 다운속도가 느려지기만 하지만 스트리밍의 경우 정상적인 서비스제공이 안될 수 있다.
동영상을 저장하는 것이 아니라 바로 실행하기 때문
스트리밍은 동영상 대기 시간을 크게 줄이는 장점이 있지만 스트리밍을 제공하는 서버는 서비스 제공에 따른 부담이 크다는 단점이 있다.
같은 서버에 사용자가 많이 들어와서 동시에 동영상 스트리밍을 요청한다면 서버에 그만큼 부하가 걸리고 전송속도가 떨어져 불편함을 주게 될것이다.
따라서 제공하려는 서비스에 따라 장단점을 따져 스트리밍 종류를 선택해야한다.

스트리밍 서비스 종류
프로그레시브 다운로드(Progressive Download)
RTSP/RTMP 스트리밍(RTSP/RTMP Streaming)
적응적 HTTP 스트리밍(Adaptive HTTP Streaming)
	<blockquote><p class="Reference">가져온곳: <a class="Reference"> URL</a></p></blockquote>
  </body>
</html>
