---
layout: post
title: Implement container-based IoT sensor data collection service
meta: Concept
category: IoT
comments: true
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" type="text/css" href="/css/pageframe.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
    </style>
  <!--
  수식용 스크립트 MathJax
  -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      //jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'] ],
        displayMath: [ ['$$', '$$'] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //,
      //displayAlign: "left",
      //displayIndent: "2em"
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
  </head>
  <body>	  
<!--
카테고리: Categories <h3 class="Categories BasicFontSet"></h3>
날짜: Date 
      {% for news in site.categories.analysis %}
        {% if news.title == 'Testing css'%}
          <a class="Date">{{ news.date | date_to_string }}</a> | <a class="post-tag">{{ page.category }}</a>
        {% endif %}
      {% endfor %}
태그: Tags <a class="post-tag">태그 내용</a>
posting한곳: Posting <blockquote><p class="posting">포스팅 </p></blockquote>
주제: MainTitle <h1 class="BasicFontSet"></h1>
소제: SubTitle <h2 class="BasicFontSet"></h2>
단락: Paragraph <p class="Paragraph"></p>
내용: Contents <p class="Contents"></p>
이미지: Imgsize - media query 적용
이미지 text: Imgtext
      <p class="Imgtext">
          <img src="이미지 주소" class="concept"></br>
          <내용></br>
      </p>
전체 코드 URL: CodeURL
참고자료: Reference <blockquote><p class="Reference">가져온곳: <a class="Reference"> URL</a></p>
-->
      <a>
	<h3 class="Categories BasicFontSet">Implement container-based IoT sensor data collection service</h3>
	{% for news in site.categories.IoT %}
        {% if news.title == 'Implement container-based IoT sensor data collection service'%}
          <a class="Date">{{ news.date | date_to_string }}</a> | <a class="post-tag" href="https://ysw0421.github.io/contents/categories/#Script">{{ page.category }}</a>
        {% endif %}
        {% endfor %}
     </a>
	<blockquote><p class="posting">포스팅 </p></blockquote>
다수지역의 기상정보 및 미세먼지 정도를 실시간으로 측정하여 관련 데이터를 수집하고 관측내용을 분석하여 시각화하는 기능을 활용하는 IoT-Cloud 서비스 테스트베드를 구축 및 통합하고 실증한다.
다수의 IoT기기에서 제공되는 데이터를 검증하고 수집하기 위한 Smart IoT-Cloud Hub와 수집된 데이터의 저장 및 간략한 분석기능을 제공하는 SmartX Cloud로 구성된다.
수집된 데이터를 효과적으로 분석하고 활용하기 위해, 현재 운용중인 서비스 모듈에서의 데이터 흐름 및 상태현황을 손쉽게 파악하는 기능을 제공하는 서비스운용 시각화 기능 및 IoT데이터 통계 분석을 다양한 측면에서 지원하는 데이터분석 UI도구를 개발한다.
h2 class="BasicFontSet">데모 시스템 개요</h2>
      <p class="Imgtext">
          <img src="/asset/Project/IoTMiddleware/DataCollectionService/Architecture.PNG" class="concept"></br>
          <내용></br>
      </p>
	<blockquote><p class="Reference">가져온곳: <a class="Reference"> URL</a></p></blockquote>
  </body>
</html>
